<h1 mat-dialog-title>Jelszómódosítás</h1>
<form class="form" mat-dialog-content [formGroup]="form">
  <mat-form-field class="form-control">
    <mat-label>Jelszó</mat-label>
    <input
      matInput
      formControlName="password"
      type="password"
      required
      autocomplete="off"
      minlength="6"
    />
    <mat-error *ngIf="password?.hasError('required')">
      Kötelező mező.
    </mat-error>
    <mat-error *ngIf="password?.hasError('minlength')">
      A Jelszó minimum 6 karakter hosszúságú.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-control">
    <mat-label>Jelszó újra</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      type="password"
      autocomplete="off"
      required
    />
    <mat-error *ngIf="confirmPassword?.hasError('required')">
      Kötelező mező.
    </mat-error>
    <mat-error *ngIf="confirmPassword?.hasError('matchPassword')">
      A megadott jelszavak nem egyeznek.
    </mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Mégse</button>
  <button
    mat-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!form.valid">
    Mentés
  </button>
</div>
