mat-form-field {
  width: 100%;

  ::ng-deep .mat-form-field-wrapper {
    margin: 5px;
  }
}

.row {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form {
  margin: 20px;

  .action-buttons {
    margin-bottom: 20px;
    float: right;

    button {
      margin-left: 5px;
    }
  }
}
